[options]
db_host = /tmp
db_port = 5433
db_user = odoo
db_password = CHANGEME_DB_PASSWORD
db_name = odoo_dev
addons_path = odoo/addons,addons
logfile = odoo.log
admin_passwd = CHANGEME_MASTER_PASSWORD
http_port = 8069
http_interface = 127.0.0.1
